<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.samclarke.android.habittracker">

    <!-- For quotes and sync adapter -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <!-- For geofencing and place picker -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- For rescheduling alarms and geofences -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAgBNFMwZkN4mXllZWvoorgpWCq-SkLLZY"/>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.CreateHabitActivity"
            android:label="@string/title_activity_create_habit"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.DialogWhenLarge"/>

        <activity
            android:name=".ui.HabitActivity"
            android:label="@string/title_activity_habit_details"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />

        </activity>

        <activity
            android:name=".ui.RequestPermissionActivity"
            android:label="@string/title_activity_request_permission"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />

        </activity>

        <provider
            android:name=".provider.HabitsProvider"
            android:authorities="@string/authority"
            android:exported="true"/>

        <service android:name=".notifications.GeofenceTransitionIntentService"/>
        <service android:name=".notifications.ActionIntentService"/>
        <service android:name=".notifications.RescheduleIntentService"/>
        <receiver android:name=".notifications.AlarmReceiver" />

        <receiver
            android:name=".notifications.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".sync.AuthenticatorService">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".sync.SyncService"
            android:exported="true">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <receiver android:name=".widget.HabitsWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/habits_appwidget_info" />
        </receiver>

        <service
            android:name=".widget.HabitsRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>